.table {
	/*background-color: blue;*/
	background-color: rgba(50,50,50,0.5);
	padding: 20px;
	/*margin: 50px 50px 50px 50px;*/
	/*border-radius: 10px;*/
	color: white;
}

body{
    background-color: white;
}

th{
	color: rgb(220, 220, 220);
}

tr {
	color: rgb(220, 220, 220);

}

btn {
    color: rgb(220, 220, 220);
}