/*table {
    background-color: blue;
    background-color: rgba(50,50,50,0.5);
    padding: 200px;
    margin: 50px 50px 50px 50px auto;
    border-radius: 10px;
    color: white;
}*/

h1 {
    color: rgb(220, 220, 220);
    border: 3px;
}
body {
    background-color: white;
}

th {
    color: rgb(220, 220, 220);
}

tr {
    color: rgb(220, 220, 220);
}

.most-popular-results {
 padding:  0px 200px 0px 200px;
 padding:  0px 20% 0px 20%;
    margin: 50px 50px 50px 50px auto;
}
